<!DOCTYPE html>
<html lang="en">

<head>
  <title>From App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 </head>
<body>
    <div style="background:#191919 !important; padding: 20px 15px;" class="jumbotron">
        <h1 style="text-align: center; color: #EEEEEE">Navigus User Feedback Application</h1>
    </div>
  <div class="well" style="width:80%;margin:auto;text-align:center;">
    Your valuable feedback has been received. Thank you for your feedback. Go to <a href="/">HomePage</a>
  </div>

</body>
</html>